# pymysql 실습

- pip install pymysql

In [1]:
import pymysql

# 1. DB연결
- id, pw, host, port, db

In [ ]:
# 127.0.0.1 = localhost
# user는 개발자가 보통 root이다.
conn = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'igro',
    password = '1234',
    db = 'csm_db',
    charset='utf8'
)

# 2.DB cursor 생성
- 데이터 셔틀버스와 같음

In [ ]:
# 커서 객체 생성
cur = conn.cursor()

In [39]:
# item 테이블이 존재하면 삭제
cur.execute("drop table if exists items")

0

# 3. sql 명령 실행

In [40]:
# items 테이블 만들기 : 테이블이 존재하지 않으면 생성
CREATE_SQL ="""
CREATE TABLE IF NOT EXISTS items(
    id integer primary key auto_increment,
    code text not null,
    name text not null,
    price integer null
)

"""
cur.execute(CREATE_SQL);

In [ ]:
create_sql = """
CREATE TABLE IF NOT EXISTS items(
    id INTEGER PRIMARY KET AUTO_INCREMENT,
    code TEXT NOT NULL,
    name TEXT NOT NULL,
    price INTEGER NULL
)
"""
cur.execute(create_sql);

## 데이터 입력 (Create)

In [41]:
# 레코드 1개 테이블에 추가하기
insert_sql = """
INSERT INTO items(code, name, price)
    VALUES(%s, %s, %s);
"""
cur.execute(insert_sql, ('A001', 'TV', 1000000))

1

In [44]:
# 변경 사항 저장, 반드시 실행해야만 테이블에 반영됨.
conn.commit()

In [43]:
# 여러개의 레코드를 한꺼번에 추가하기
datas = (
    ('A0002', '에어컨 30평형', 2000000),
    ('A0003', '최신형 스마트폰', 1000000),
    ('A0004', '최신형 노트북', 500000)
)

cur.executemany(insert_sql, datas);

## 데이터 읽기 (Read)

In [45]:
# select 문
select_sql1 = "SELECT * FROM items"
cur.execute(select_sql1)

4

In [ ]:
# DB 조회한 결과를 확인하기 위해서 fetch 수행
rows = cur.fetchall()

In [47]:
rows

((1, 'A001', 'TV', 1000000),
 (2, 'A0002', '에어컨 30평형', 2000000),
 (3, 'A0003', '최신형 스마트폰', 1000000),
 (4, 'A0004', '최신형 노트북', 500000))

In [50]:
for idx, row in enumerate(list(rows)):
    print(f"{idx+1} - {row[1:]}")

1 - ('A001', 'TV', 1000000)
2 - ('A0002', '에어컨 30평형', 2000000)
3 - ('A0003', '최신형 스마트폰', 1000000)
4 - ('A0004', '최신형 노트북', 500000)

In [55]:
# select 문, 2개의 레코드 서버에서 가져오는거야
select_sql1 = "SELECT * FROM items LIMIT 2"
cur.execute(select_sql1)

2

In [56]:
rows = cur.fetchall()
rows

((1, 'A001', 'TV', 1000000), (2, 'A0002', '에어컨 30평형', 2000000))

In [57]:
# fetchall은 한번 수행하면 데이터가 비워짐.
# 위에서 fetchall()을 실행했기 때문에 빈결과가 나옴
cur.fetchall()

()

## 수정 (Update)

In [68]:
update_sql = """
UPDATE items
SET price = %s
WHERE code = %s
"""

price = 1500000
code = 'A0001'
cur.execute(update_sql, (price, code))

1

In [69]:
conn.commit()

In [66]:
# id = 2인 레코드의 price를 2500000으로 변경
update_sql = """
UPDATE items
SET price = %s
WHERE id = %s
"""

price = 2500000
id = 2
cur.execute(update_sql, (price, id))
conn.commit()

1

## 데이터 삭제(Delete)

In [ ]:
delete_sql = """
DELETE FROM items
WHERE code = %s
"""
cur.execute(delete_sql,'A0003');    # %s가 1개 일경우, 튜플 생략 가능

In [74]:
conn.commit()

# 4. commit, rollback 실행
- insert, update, delete sql을 실행했을 경우는 반드시 실행해야 DB에 반영됨

In [79]:
# 데이터 생성하기
# code A0005, name 로봇청소기,price 1000000

INSERT_SQL = "INSERT INTO items(code, name, price) VALUES (%s, %s, %s);"

cur.execute(INSERT_SQL, ('A0006', '식기세척기', 2000000))

1

In [ ]:
# DB에 가장 마지막에 반영한 이후 시점까지 되돌리기
conn.rollback()

In [80]:
# 조회, rollback안하고 해봐 그럼 식기세척기도 나와.
select_sql1 = "SELECT * FROM items"
cur.execute(select_sql1)
rows = cur.fetchall()
rows

5

# 5. DB close()
- 데이터 처리를 위해 연결한 DB 연결 자원을 반환함.

In [ ]:
conn.close()